@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>New Relic</h1>
    <p class="lead">New Relic is a Software Analytics company that makes sense of billions of metrics across millions of apps.</p>
    <p><a href="http://newrelic.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            New Relic helps the people who build modern software understand the stories their data is trying to tell them.
        </p>
        <p><a class="btn btn-default" href="http://newrelic.com/products">Learn more &raquo;</a></p>
    </div>
</div>
